module.exports = "
<div id=\ "landing-page-container dark-theme">
    <div class=\ "container-fluid">
        <section class=\ "row full-height-section rollercoaster-background" id=\ "RollerContainer">
            <div class=\ "col-md-12 inner-full-height-section" id=\ "InnerRollerContainer">
                <div id=\ "action-bar-container">
                    <div id=\ "action-bar"> <a id=\ "main-login-button" ng-class=\ "'btn-cta-md'" ng-bind=\ "'Action.LogInCapitalized' | translate" ng-href=\ "{{landingLayout.loginLink}}" ng-hide=\ "isKoreaSignInVerification"></a> </div>
                </div>
                <div class=\ "lower-logo-container" ng-class=\ "{'lower-logo-container-with-content-rating-logo': displayBrazilRatingLogo || displayItalyRatingLogo}">
                    <div id=\ "signup-container">
                        <div id=\ "signup-header-container">
                            <div id=\ "signup-header"> <span class=\ "icon-logo"></span> </div>
                        </div>
                        <div class=\ "signup-container theme-bg rbx-login-form" signup></div>
                        <div ng-if=\ "displayBrazilRatingLogo" id=\ "brazil-rating-logo"> <a id=\ "brazil-icon" ng-click=\ "contentRatingLogoClick('brazil')"></a>
                            <div id=\ "brazil-logo-text-container">
                                <div id=\ "brazil-logo-header-text"> <span ng-bind=\ "'Label.BrazilContentRatingLogoTitle' | translate"> </div> <div id="brazil-logo-subheader-text"> <span ng-bind="'Label.BrazilContentRatingLogoSubtitle' | translate"> </div> </div> </div> <a ng-if="displayItalyRatingLogo" id="italy-rating-logo" ng-click="contentRatingLogoClick('italy')"> <div id="italy-icon-container"> <div id="pegi-icon"></div> <div id="fear-icon"></div> <div id="violence-icon"></div> <div id="purchases-icon"></div> </div> <div id="italy-logo-text"> <span ng-bind="'Label.ItalyContentRatingLogoTitle' | translate"> </div> </a> </div> <div id="app-stores-container"> <div id="app-stores"> <div id="app-stores-devices"> <h4><span ng-bind="'Heading.RobloxOnDevice' | translate"></span></h4>
                                </div> <a ng-href=\ "{{landingLayout.appStoreLink}}" target=\ "_blank" class=\ "app-store-logo apple-badge" ng-click=\ "appClick('apple')" title=\ "{{'Label.RobloxAppStore' | translate}}"></a> <a ng-href=\
                                    "{{landingLayout.googlePlayStoreLink}}" target=\ "_blank" class=\ "app-store-logo google-badge" ng-click=\ "appClick('google')" title=\ "{{'Label.GetOnGooglePlay' | translate}}"></a> <a ng-href=\ "{{landingLayout.amazonStoreLink}}" target=\ "_blank" class=\
                                    "app-store-logo amazon-badge" ng-click=\ "appClick('amazon')" title=\ "{{'Label.RobloxAmazonStore' | translate}}"></a> <a ng-href=\ "{{landingLayout.xboxStoreLink}}" target=\ "_blank" class=\ "app-store-logo xbox-badge" ng-click=\
                                    "appClick('xbox')" title=\ "{{'Label.RobloxOnXbox' | translate}}"></a> <a ng-href=\ "{{landingLayout.windowsStoreLink}}" target=\ "_blank" class=\ "app-store-logo microsoft-badge" ng-click=\ "appClick('microsoft')" title=\
                                    "{{'Label.RobloxWindowsStore' | translate }}"></a> </div>
                        </div>
                    </div>
                </div>
        </section>
        </div>
        <div id=\ "react-landing-container"></div>
    </div> ";