module.exports = "
<div id=\ "signup">
    <h3 class=\ "text-center signup-header" ng-bind=\ "'Heading.SignupHaveFun' | translate"></h3>
    <div class=\ "signup-or-log-in new-username-pwd-rule">
        <div class=\ "signup-container">
            <div class=\ "text font-caption-body signup-korea-parent-hint" ng-show=\ "isKoreaAdultUser()" ng-bind=\ "'Description.PersonalInfoForUser' | translate"></div>
            <div class=\ "signup-input-area" ng-form name=\ "signupForm" rbx-form-context context=\ "{{layout.context}}">
                <div class=\ "birthday-container">
                    <div class=\ "form-group" ng-class=\ "{'has-error' : isBirthdayInvalid(), 'has-success' : isBirthdayFormDirty() && !isBirthdayInvalid() }"> <label ng-class=\ "'font-caption-header'" ng-bind=\ "'Label.Birthday' | translate"></label>
                        <div class=\ "form-control birthday-select-group">
                            <div ng-repeat=\ "part in layout.orderedBirthdayParts.parts" class=\ "rbx-select-group" ng-class=\ "part.className"> <select class=\ "rbx-select" id=\ "{{part.idName}}" rbx-valid-birthday rbx-form-interaction rbx-form-validation name=\ "{{part.birthdayName}}" ng-model=\ "signup[part.birthdayName]" ng-change=\ "onChange()" ng-disabled=\
                                    "layout.isSubmitting || layout.shouldDisableBirthdaySelect"> <option value="" disabled="disabled" selected="selected"> {{part.placeholder}} </option> <option ng-repeat="dateOption in part.options" value="{{dateOption.value}}"> {{dateOption.label}} </option> </select>                                </div>
                        </div>
                        <p id=\ "signup-BirthdayInputValidation" class=\ "form-control-label font-caption-body input-validation text-error" ng-bind=\ "getBirthdayInvalidMessage()"></p>
                    </div>
                </div>
                <div class=\ "form-group" ng-show=\ "shouldOfferEmailAtSignup()" ng-class=\ "{'has-error' : hasContactMethodError(),'has-success': hasValidContactMethod()}">
                    <div class=\ "contact-method-container" contact-method> </div>
                </div>
                <div class=\ "form-group" ng-class=\ "{'has-error' : (badSubmit || signupForm.signupUsername.$dirty) && signupForm.signupUsername.$invalid, 'has-success': (signupForm.signupUsername.$dirty && signupForm.signupUsername.$valid) }"> <label ng-class=\ "'font-caption-header'" ng-bind=\ "'Label.Username' | translate"></label> <input id=\ "signup-username" ng-trim=\ "false" ng-change=\ "onChange()" ng-model-options=\ "{ debounce: 200 }" name=\ "signupUsername"
                        class=\ "form-control" type=\ "text" autocomplete=\ "signup-username" rbx-valid-username rbx-form-interaction send-input-value=\ "true" rbx-form-validation ng-attr-placeholder=\ "{{ getUsernamePlaceholder() }}" ng-model=\
                        "signup.username" ng-class=\ "'font-body text input-field'" ng-disabled=\ "layout.isSubmitting"/>
                    <p id=\ "signup-usernameInputValidation" class=\ "form-control-label font-caption-body input-validation text-error" ng-bind=\
                        "getHintForUsername()"></p>
                </div>
                <div class=\ "form-group password-form-group" ng-class=\
                    "{'has-error' : (badSubmit || signupForm.signupPassword.$dirty) && signupForm.signupPassword.$invalid, 'has-success': (signupForm.signupPassword.$dirty && signupForm.signupPassword.$valid)}"> <label ng-class=\ "'font-caption-header'" ng-bind=\ "'Label.Password' | translate"></label> <input id=\ "signup-password" ng-trim=\ "false" name=\ "signupPassword" class=\ "form-control password-with-visibility-toggle" type=\
                        "{{layout.passwordInputType}}" autocomplete=\ "new-password" rbx-valid-password rbx-form-interaction rbx-form-validation rbx-form-validation-redact-input ng-attr-placeholder=\ "{{getPasswordPlaceholder()}}" ng-model=\ "signup.password" ng-click=\
                        "passwordBoxClicked()" ng-disabled=\ "layout.isSubmitting" ng-class=\ "'font-body text input-field'"/>
                    <div ng-show=\ "signup.password" class=\ "icon-password-show password-visibility-toggle" ng-class=\
                        "{'icon-password-hide-v2': layout.showPassword, 'icon-password-show-v2': !layout.showPassword}" ng-click=\ "togglePasswordVisibility()" ng-cloak></div>
                    <p id=\ "signup-passwordInputValidation" class=\ "form-control-label font-caption-body input-validation" ng-class=\ "{'text-error': signup.password.length, 'text-info': !signup.password.length}" ng-bind=\
                        "getHintForPassword()"></p>
                </div>
                <div class=\ "gender-container"> <label ng-class=\ "'font-caption-header'" ng-bind=\ "'Label.OptionalGender' | translate"></label>
                    <div class=\ "form-group">
                        <div class=\ "form-control fake-input-lg" ng-disabled=\ "layout.isSubmitting"> <button id=\ "FemaleButton" class=\ "gender-button text-lead" rbx-form-interaction name=\ "genderFemale" title=\ "{{'Label.Female' | translate}}" ng-click=\ "setGender($event, genderType.female)" ng-keypress=\
                                "setGender($event, genderType.female)"> <div class="gender-icon gender-female" ng-class="{'gender-selected': signup.gender === genderType.female}"></div> </button> <button id=\ "MaleButton" class=\ "gender-button text-lead" rbx-form-interaction name=\
                                "genderMale" title=\ "{{'Label.Male' | translate}}" ng-click=\ "setGender($event, genderType.male)" ng-keypress=\ "setGender($event, genderType.male)"> <div class="gender-icon gender-male" ng-class="{'gender-selected': signup.gender === genderType.male}"></div> </button>                            </div>
                    </div>
                </div>
                <div class=\ "legal-text-container legal-text-container-top-margin" ng-class=\ "{'terms-experiment-padding':shouldBlockSignupForTerms}"> <input type=\ "checkbox" class=\ "form-control checkbox" ng-hide=\ "!shouldBlockSignupForTerms" ng-disabled=\ "layout.isSubmitting" [checked]=\ "signup?.isTermsCheckboxChecked ?? false" ng-click=\
                        "toggleTermsAgreementAcceptance()"/>
                    <div class=\ "terms-agreement" ng-bind-html=\ "'Description.SignUpAgreement' | translate: {spanStart: '<span>', spanEnd: '</span>', termsOfUseLink: layout.termsOfUseLinkElement, privacyPolicyLink: layout.privacyLinkElement}">
                    </div>
                </div>
                <p id=\ "signup-termsNotAcceptedError" [visibility: hidden]=\ "!(shouldBlockSignupForTerms &&\r\n                shouldShowTermsError)" ng-if=\ "shouldBlockSignupForTerms" class=\
                    "form-control-label font-caption-body input-validation text-error" ng-bind=\ "getTermsNotAcceptedInvalidMessage()"></p> <button id=\ "signup-button" type=\ "button" class=\ "btn-primary-md signup-submit-button btn-full-width" name=\ "signupSubmit" ng-disabled=\ "layout.isSubmitting" ng-click=\ "submitSignup(true)" ng-keypress=\
                    "submitSignup(true)" ng-bind=\ "'GuestSignUpAB.Action.SignUp' | translate"></button> <noscript> <div class="text-danger"> <strong ng-bind="Response.JavaScriptRequired | translate"></strong> </div> </noscript>
                <div id=\ "GeneralErrorText" class=\
                    "input-validation-large alert-warning font-bold" ng-cloak ng-show=\ "signupForm.$generalError" ng-bind=\ "signupForm.$generalErrorText" ng-click=\ "signupForm.$generalError=false"></div>
            </div>
        </div>
    </div>
    <div id=\ "verificationUpsell-container">
        <div verificationUpsell-container></div>
    </div>
</div>";