module.exports = "
<div class=\ "captcha-container" ng-controller=\ "captchaV2Controller">
    <div class=\ "modal" ng-class=\ "$ctrl.getCaptchaClasses()" ng-click=\ "$ctrl.hideCaptcha()">
        <div class=\ "modal-dialog">
            <div class=\ "modal-content">
                <div class=\ "modal-body" ng-click=\ "$event.stopPropagation()"> <button type=\ "button" class=\ "close" ng-click=\ "$ctrl.hideCaptcha()"> <span aria-hidden="true"><span class="icon-close"></span></span><span class="sr-only">Close</span> </button>
                    <div id=\ "{{ $ctrl.id }}" class=\
                        "captchav2-funcaptcha-modal-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>";